{
  "addons": {
    "zotmeta@roadtodream.tech": {
      "updates": [
        {
          "version": "1.0",
          "update_link": "",
          "update_hash": "",
          "applications": {
            "gecko": {
              "strict_min_version": "60.0"
            },
            "zotero": {
              "strict_min_version": "6.999"
            }
          }
        }
      ]
    }
  }
}
